* {
    padding: 0%;
    margin: 0%;
}
.btn_GoUp{
    position: fixed;
    bottom: 0%;
    right: 8%;
    font-size: 35px;
}
/* ////////////////////////////////Start of navbar section////////////////////////////// */
.navbar {
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0%;
    background:rgb(255, 255, 255);
    z-index: 1;
}
.navbar .navbar_Tittle {
    padding-left: 180px;
}
.navbar .navbar_Tittle p{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 19px;
}

.navbar .navbar_List ul{
    list-style: none;
}

.navbar .navbar_List ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 15px;
}

/* .navbar .navbar_List ul li .home_Blue {
    color: blue;
} */
.navbar .navbar_List ul li{
    display: inline-block;
}

.navbar .navbar_List ul li a:hover{
    color: rgb(0, 51, 255)
}

.navbar .navbar_Button button{
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
}
/* ////////////////////////////////End of navbar section////////////////////////////// */
/* ////////////////////////////////Start of header section////////////////////////////// */
.background {
    background: url('../../../Frontend/imgs/shape-a.png');
    background-size: 100% 100%;
}
.header {
    height: fit-content;
    width: 80%;
    margin: auto;
    margin-top: 120px;
}

.header .introduction .logo_Corona .logo_Corona_Left h1{
    font-size: 66px;
    font-weight: 550;
    color: rgb(105, 105, 105);
    font-family: sans-serif;
    padding-bottom: 15px;
    padding-left: 50px;
}

.header .introduction .logo_Corona .logo_Corona_Right {
    padding-left: 59px;
}
.header .introduction .logo_Corona .logo_Corona_Right .gray{
    color: rgb(105, 105, 105);
    font-size: 23px;
    font-weight: 650;

}

.header .introduction .logo_Corona .logo_Corona_Right .orange{
    color: orangered;
    font-size: 24px;
    font-weight: 650;
    padding-top: 7px;
}

.header .picture_Girl img{
    width: 100%;
    height: 100%;
}

.header .introduction .para_Corona p {
    line-height: 1.7;
    padding-bottom: 30px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.header .introduction .btn_Corona{
    margin-left: 15px;
    margin-bottom: 40px;
}
.header .introduction .btn_Corona .left_Button {
    border-radius: 20px;
    font-weight: 500;
}

.header .introduction .btn_Corona .right_Button {
    border-radius: 20px;
    border: transparent;
    background: transparent;
    color: blue;
    font-weight: 500;
}

.header .introduction .counter .counter_Tab .counter_P {
    font-size: 14px;
    color: gray;
}

.header .introduction .counter .counter_Tab  h4{
    font-weight: bolder;
    padding-bottom: 15px;
}

.header .introduction .counter .small_Text {
    font-size: 10px;
    color: gray;
}

/* ////////////////////////////////End of header section////////////////////////////// */
/* ////////////////////////////////Start of about section////////////////////////////// */
.about {
    width: 80%;
    margin: auto;
    height: 90vh;
}

.about .para_About h3{
    color: rgb(0, 98, 255);
    font-size: 18px;
}

.about .para_About h1{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 12px;
}

.about .para_About p span{
    font-weight: bolder;
    font-size: 17px;
}
.about .para_About p{
    font-size: 16px;
}

.about .table_About {
    background:white;
    height: fit-content;
    flex-basis: 30%;
    border: 1px solid white;
    margin-left: 130px;
    box-shadow: 0px 0px 10px grey ;
    line-height: 1.2;
}

.about .table_About a{
    text-decoration: none;
    color: rgb(0, 98, 255);
    padding: 15px;
    border-top: 0.01px solid rgb(211, 211, 211);
    justify-content: space-between;
    display: flex;
}

.about .table_About i {
    align-self: center;
}

.about .table_About h2 {
    font-size: 20px;
    padding: 15px;
}

/* ////////////////////////////////End of about section////////////////////////////// */
/* ////////////////////////////////Start of spread section//////////////////////////////*/

.spread{
    width: 80%;
    margin: auto;
}

.spread .para_Spread {
    width: 60%;
    margin: auto;
    text-align: center;
}
.spread .para_Spread h5{
    color: rgb(0, 98, 255);
    font-weight: 500;
}

.spread .para_Spread h2{
    font-weight: 700;
    margin-bottom: 25px;
    color: rgb(90, 90, 90);
}

.spread .para_Spread p{
    font-weight: 350;
}

.spread .containers_Spread{
    width: 90%;
    margin: auto;
}
.spread .containers_Spread .card{
    border: white solid ;
    box-shadow: 0px 0px 10px rgb(203, 203, 203) ;
    height: fit-content;  
}
.spread .containers_Spread .card .card-img-top{
    border-bottom: 5px rgb(105, 179, 239) solid;
}

.spread .containers_Spread .card .card-body .card-title{
    color:rgb(0, 98, 255) ;
    font-size: 17px;
}

.spread .containers_Spread .card .card-body .card-text{
    font-size: 14px;
    line-height: 1.5;
}
.spread .btn_Spread {
    margin-top: 100px;
    margin-bottom: 70px;
}
.spread .btn_Spread .btn_Spread_Press{
    border-radius: 20px;
    font-weight: 600;
}
/* ////////////////////////////////End of spread section////////////////////////////// */
/* ////////////////////////////////Start of symptoms section//////////////////////////////*/
.symptoms{
    width: 80%;
    margin: auto;
    height: fit-content;
    margin-top: 80px;
}

.symptoms .para_Symptoms{
    width: 70%;
    margin: auto;
    text-align: center;
}

.symptoms .para_Symptoms h5{
   color:rgb(0, 98, 255);
   font-weight: 500;
}
.symptoms .para_Symptoms h2{
    font-weight: 700;
    margin-bottom: 25px;
    color: rgb(90, 90, 90)
}
.symptoms .para_Symptoms p{
    font-weight: 350;
}

.symptoms .containers_Symptoms{
    width: 90%;
    margin: auto;
    margin-bottom: 130px;
}

.symptoms .containers_Symptoms .containers_Symptoms_One .images_One{
    border-radius: 60%;
    position: absolute;
    top: 2170px;
    right: 810px;
    z-index: 1;
    box-shadow: 0px 0px 10px rgb(186, 255, 141) ;     
}

.symptoms .containers_Symptoms .containers_Symptoms_Two .images_Two{
    border-radius: 60%;
    position: absolute;
    top: 2170px;
    right: 500px;
    z-index: 1;
    box-shadow: 0px 0px 10px rgb(186, 255, 141) ;    
}

.symptoms .containers_Symptoms .containers_Symptoms_Three .images_Three{
    border-radius: 60%;
    position: absolute;
    top: 2170px;
    right: 190px;
    z-index: 1;
    box-shadow: 0px 0px 10px rgb(186, 255, 141) ;     
}


.symptoms .containers_Symptoms .card{
    border: white solid ;
    box-shadow: 0px 0px 10px rgb(203, 203, 203) ;
    height: fit-content;  
}

.symptoms .containers_Symptoms .card .card-body .card-title{
    color:rgb(0, 98, 255) ;
    font-size: 17px;
}

.symptoms .containers_Symptoms .card .card-body .card-text{
    font-size: 15px;
    line-height: 1.5;
}

.symptoms .containers_Symptoms .card .card-body .card-text span{
    font-weight: bolder;
}

.symptoms .formore_Symptoms {
    width: 95%;
    margin: auto;
}
.symptoms .formore_Symptoms .formore_Symptoms_Left i{
    color: blue;
    font-size: 40px;
}

.symptoms .formore_Symptoms .formore_Symptoms_Left p span{
    color:rgb(0, 98, 255);
    font-weight: bold;
}

.symptoms .formore_Symptoms .formore_Symptoms_Left p {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2;
}

.symptoms .formore_Symptoms .formore_Symptoms_Right button{
    border-radius: 20px;
    font-weight: 600;
}
/* ////////////////////////////////End of symptoms section////////////////////////////// */
/* ////////////////////////////////Start of prevention section//////////////////////////////*/
.prevention{
    width: 90%;
    margin: auto;
    height: fit-content;
    margin-top: 80px;
    margin-bottom: 100px;
}

.prevention .para_Prevention {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 60px;
}

.prevention .para_Prevention h5{
    color:rgb(0, 98, 255);
    font-weight: 500;
    padding-top: 60px;
}

.prevention .para_Prevention h2{
    font-weight: 700;
    color: rgb(90, 90, 90);
    padding-bottom: 15px;
}

.prevention .para_Prevention p{
    font-weight: 350;
    line-height: 1.3;
}

.prevention .para_Prevention p span{
    font-weight: bolder;
}

.prevention .container_Prevention{
    width: 85%;
    margin: auto;
    margin-bottom: 100px; 
}
.prevention .container_Prevention .container_Prevention_Cards{
    width: 20%;
    text-align: center;
}

.prevention .container_Prevention .container_Prevention_Cards h5{
    font-size: 14px;
    font-weight: 700;
}
.prevention .container_Prevention .container_Prevention_Cards p{
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
}

.prevention .container_Prevention .container_Prevention_Cards img{
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(203, 203, 203) ;
}

.prevention .btn_Prevention{
    width: 47%;
    margin: auto;
}

.prevention .btn_Prevention .btn_Prevention_Left{
    border-radius: 20px;
    border: transparent;
    color: white;
    font-weight: 500;
}

.prevention .btn_Prevention .btn_Prevention_Right{
    border-radius: 20px;
    border: transparent;
    background: transparent;
    color: blue;
    font-weight: 500;
}

/* ////////////////////////////////End of prevention section////////////////////////////// */
/* ////////////////////////////////Start of Tips section//////////////////////////////*/

.tips {
    width: 80%;
    margin: auto;
    box-shadow: 0px 0px 10px rgb(203, 203, 203) ;
    height: fit-content;
    margin-bottom: 120px;
}

.tips .para_Tips{
    padding-top: 40px;
    padding-left: 40px;
}

.tips .para_Tips h3{
    padding-bottom: 18px;
}

.tips .para_Tips p i{
    color:rgb(3, 179, 3);
    padding-right: 5px;
}

.tips .para_Tips p{
    line-height: 1.1;
    padding-bottom: 8px;
}

.tips .para_Tips p span{
    font-weight: 700;
}

.tips .para_Tips p .blue_Span{
    text-decoration: underline;
    color: rgb(0, 98, 255)
}

.tips .img_Tips img{
    width: 100%;
    height: 70vh;
    padding-top: 40px;
}

/* ////////////////////////////////End of Tips section////////////////////////////// */
/* ////////////////////////////////Start of steps section//////////////////////////////*/

.steps{
    width: 80%;
    margin: auto;
    height: fit-content;
    margin-bottom: 60px;
}

.steps .para_Steps{
    width: 60%;
    margin: auto;
    text-align: center;
}

.steps .para_Steps h4{
    font-weight: 600;
    padding-bottom: 10px;
}

.steps .para_Steps p{
    color:rgb(0, 98, 255);
    font-weight: 500;
}

.steps .para_Steps p span i{
    padding-left: 6px;
}

.steps .container_Steps {
    width: 90%;
    margin: auto;
}

.steps .container_Steps .container_Steps_Cards{
    width: 10%;
}

.steps .container_Steps .container_Steps_Cards img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(203, 203, 203) ;
}

.steps .container_Steps .container_Steps_Cards p{
    text-align: center;
    line-height: 1.1;
    font-size: 16px;
    font-weight: 500;
    padding-top: 20px;
}

/* ////////////////////////////////End of steps section////////////////////////////// */
/* ////////////////////////////////Start of treatment section//////////////////////////////*/

.background_Treatment{
    background: rgb(38, 134, 237);
    height: 100vh;
}

.background_Treatment .back_Treatment{
    background: url('../../../Frontend/imgs/shape-a.png');
    height: 100vh;
}

.background_Treatment .back_Treatment .treatment{
    width: 80%;
    margin: auto;
    padding-top: 80px;
}

.background_Treatment .back_Treatment .treatment .left_Treatment h5{
    color: rgb(2, 239, 239);
    font-size: 17px;
    font-weight: bold;
}

.background_Treatment .back_Treatment .treatment .left_Treatment h2{
    color: white;
    font-weight: 700;
    padding-bottom: 10px;
}

.background_Treatment .back_Treatment .treatment .left_Treatment p{
    color: white;
    line-height: 1.4;
    font-weight: 300;
}

.background_Treatment .back_Treatment .treatment .left_Treatment p span{
    font-weight: bold;
}

.background_Treatment .back_Treatment .treatment .right_Treatment{
    background: rgb(23, 105, 193);
    height: fit-content;
    line-height: 1.2;
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    height: fit-content;
    border-radius: 5px;
}

.background_Treatment .back_Treatment .treatment .right_Treatment h5{
    font-size: 15px;
    font-weight: bold;
}

.background_Treatment .back_Treatment .treatment .right_Treatment p{
    font-size:14px ;
    line-height: 1.15;
    font-weight: 400;
}
/* ////////////////////////////////End of treatment section////////////////////////////// */
/* ////////////////////////////////Start of Do & Dont's section//////////////////////////////*/
.do .para_Do{
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 75px;
}

.do .para_Do h5{
   color: rgb(0, 98, 255);
   font-weight: 500;
}

.do .para_Do h2{
   font-weight: bold;
}

.do .para_Do p{
   font-weight: 400;
   line-height: 1.25;
   font-size: 15px;
}

.do .lower_Do{
    width: 85%;
    margin: auto;
    margin-top: 60px;
    
}

.do .lower_Do .lower_Do_Left{
    height: 60vh;
    width: 23%;
}

.do .lower_Do .lower_Do_Middle{
    height: 60vh;
    width: 30%;
}

.do .lower_Do .lower_Do_Right{
    height: 60vh;
    width: 23%;
}

.do .lower_Do_Left .d-flex .parent_Left{
    position: relative;
}

.do .lower_Do_Left .d-flex .child_Left{
    position: relative;
    right: 52px;
    bottom: 2px;
}

.parent_Left{
    border: 2px red solid;
    border-radius: 50%;
}

.child_Left i{
    color: red;
}

.lower_Do_Middle img{
    width: 100%;
    height: 85%;
}

.do .lower_Do_Right .d-flex .parent_Right{
    position: relative;
}

.do .lower_Do_Right .d-flex .child_Right{
    position: relative;
    right: 52px;
    bottom: 2px;
}

.parent_Right{
    border: 2px green solid;
    border-radius: 50%;
}

.child_Right i{
    color: green;
}

.blue_Para_Low{
    color: blue;
    font-weight: 500;
}

/* ////////////////////////////////End of Do & Dont's section////////////////////////////// */
/* ////////////////////////////////Start of FAQ section//////////////////////////////*/

.faq .para_Faq{
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 90px;
}
.faq .para_Faq h5{
    color: rgb(0, 98, 255);
    font-weight: 600;
 }

 .faq .para_Faq h2{
    font-weight: 700;
    font-size: 35px;
 }

 .faq .big_Faq {
    width: 80%;
    margin: auto;
    height: 100vh;
 }

 .faq .big_Faq .buttons_Faq {
    height: 53vh;
 }
 .faq .big_Faq .buttons_Faq button{
    width: 80%;
    margin: auto;
    background: transparent;
    border: rgb(215, 215, 215) solid 1px;
    border-radius: 3px;
 }

 .faq .big_Faq .buttons_Faq button span{
    font-weight: 400;
 }

 .faq .big_Faq .buttons_Faq button:hover{
    border: rgb(12, 50, 132) solid 2px;
    cursor: pointer;
 }

 .active_FAQ{
    display: inline-block;
 }

 .hidden_FAQ{
    display: none;
 }

/* ////////////////////////////////End of FAQ section////////////////////////////// */
/* ////////////////////////////////Start of  section//////////////////////////////*/

