* {
    padding: 0%;
    margin: 0%;
}
/* ////////////////////////////////Start of navbar section////////////////////////////// */
.navbar {
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0%;
    background:rgb(255, 255, 255);
}
.navbar .navbar_Tittle {
    padding-left: 180px;
}
.navbar .navbar_Tittle p{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 19px;
}

.navbar .navbar_List ul{
    list-style: none;
}

.navbar .navbar_List ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 15px;
}

.navbar .navbar_List ul li .home_Blue {
    color: blue;
}
.navbar .navbar_List ul li{
    display: inline-block;
}

.navbar .navbar_List ul li a:hover{
    color: rgb(0, 51, 255)
}

.navbar .navbar_Button button{
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
}
/* ////////////////////////////////End of navbar section////////////////////////////// */

/* ////////////////////////////////Start of header section////////////////////////////// */

.header {
    background: url('../../../Frontend/imgs/shape-a.png');
    height: fit-content;
    width: 80%;
    margin: auto;
    margin-top: 120px;
}

.header .introduction .logo_Corona .logo_Corona_Left h1{
    font-size: 66px;
    font-weight: 550;
    color: rgb(105, 105, 105);
    font-family: sans-serif;
    padding-bottom: 15px;
    padding-left: 50px;
}

.header .introduction .logo_Corona .logo_Corona_Right {
    padding-left: 57px;
}
.header .introduction .logo_Corona .logo_Corona_Right .gray{
color: rgb(105, 105, 105);
font-size: 23px;
font-weight: 650;

}

.header .introduction .logo_Corona .logo_Corona_Right .orange{
    color: orangered;
    font-size: 24px;
    font-weight: 650;
    padding-top: 7px;
}

.header .picture_Girl img{
    width: 100%;
    height: 100%;
}

.header .introduction .para_Corona p {
    line-height: 1.7;
    padding-bottom: 30px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.header .introduction .btn_Corona{
    margin-left: 15px;
    margin-bottom: 40px;
}
.header .introduction .btn_Corona .left_Button {
    border-radius: 20px;
    font-weight: 500;
}

.header .introduction .btn_Corona .right_Button {
    border-radius: 20px;
    border: transparent;
    background: transparent;
    color: blue;
    font-weight: 500;
}

.header .introduction .counter .counter_Tab .counter_P {
    font-size: 14px;
    color: gray;
}

.header .introduction .counter .counter_Tab  h4{
    font-weight: bolder;
    padding-bottom: 15px;
}

.header .introduction .counter .small_Text {
    font-size: 10px;
    color: gray;
}

/* ////////////////////////////////End of header section////////////////////////////// */
